* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App {
  height: 100vh;
  background: rgb(4, 79, 72);
  background: linear-gradient(
    0deg,
    rgba(4, 79, 72, 1) 0%,
    rgba(42, 117, 97, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 85vh;
  background-color: rgb(51, 51, 51, 0.2);
  border-radius: 20px;
}

.chat-header {
  display: flex;
  justify-content: center;
  background-color: rgb(51, 51, 51, 0.4);
  border-radius: 20px 20px 0 0;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  max-height: 65vh;
  width: 100%;
  overflow: auto;
  min-height: min-content;
}

.chat-container::-webkit-scrollbar {
  background-color: #044f48;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  min-height: 2em;
  max-width: 40em;
  background-color: rgb(109, 226, 187, 0.3);
  list-style-type: none;
  margin: 0.5em 0.5em 0.5em 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}

li:nth-child(even) {
  margin-left: 2em;
}

li:nth-child(odd) {
  margin-right: 2em;
  background-color: rgba(77, 163, 135, 0.3);
}

li:last-child {
  animation: fade-in 2s;
}

.time {
  position: relative;
  left: 8em;
  color: rgb(206, 206, 211, 0.4);
  min-width: 7em;
}

#main-container {
  display: flex;
  height: 100%;
}

.chat-footer {
  display: flex;
  background-color: rgb(51, 51, 51, 0.4);
  border-radius: 0 0 20px 20px;
  height: 12vh;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 15em;
}

.sidebar-title {
  text-align: center;
}

#sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13em;
  background-color: rgb(51, 51, 51, 0.2);
}

.user-input {
  width: 11em;
  border-radius: 0.5em;
  margin: 2em;
  border: 2px solid #044f48;
  filter: drop-shadow(2px 2px 2px black);
  font-size: 1.5rem;
  padding: 0.25em;
}

.submit {
  width: 5em;
  border-radius: 0.5em;
  background-color: #2a7561;
  font-size: 2em;
  font-weight: 800;
  padding: 2px;
  border: 2px solid #044f48;
  filter: drop-shadow(2px 2px 2px black);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1425px) {
  .user-input {
    margin: 0.25em;
  }

  li {
    max-width: 30em;
  }

  .time {
    left: 8em;
  }
}
